.weatherCard {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  font-family: "Itim", cursive;
  justify-content: space-between;
  height: 330px;
  margin: 0 10px;
  padding: 10px;
  width: 200px;
}
.weatherCard:nth-child(1) {
  background-color: #f4d160;
}

.weatherCard:nth-child(2) {
  background: #ff884b;
}

.weatherCard:nth-child(3) {
  background: #8ac4d0;
}

.weatherCard:nth-child(4) {
  background: #ff75a0;
}

.weatherCard:nth-child(5) {
  background: #00917c;
}

.timeDate {
  display: flex;
  justify-content: space-between;
}
.weatherIcon {
  margin: 0 auto;
}
.icon {
  height: 80px;
}
.temperature {
  font-size: 62px;
  text-align: center;
}
.description {
  font-size: 24px;
  text-align: center;
  text-transform: capitalize;
}
.location {
  display: flex;
  justify-content: space-between;
}
.feelsLike {
  font-size: 18px;
  text-align: center;
}
.line {
  width: 200px;
}
